{
  "swagger": "2.0",
  "info": {
    "description": "<p>This API is designed to provide authoritative National Park Service (NPS) data and content about parks and their facilities, events, news, alerts, and more. Explore the NPS API below and even try to make API calls. In order to try an API call, you'll need to click on the \"Authorize\" button below and add your API key. If you don't have an API key yet, visit our <a href=\"https://www.nps.gov/subjects/developer/get-started.htm\">Get Started page</a>.</p>",
    "version": "1.0.0",
    "title": "National Park Service"
  },
  "host": "developer.nps.gov",
  "basePath": "/api/v1",
  "tags": [
    {
      "name": "activities",
      "description": "Retrieve categories of activities (astronomy, hiking, wildlife watching, etc.) possible in national parks."
    },
    {
      "name": "activities/parks",
      "description": "Retrieve national parks that are related to particular categories of activity (astronomy, hiking, wildlife watching, etc.)."
    },
    {
      "name": "alerts",
      "description": "Retrieve alerts (danger, closure, caution, and information) posted by parks."
    },
    {
      "name": "amenities",
      "description": "Retrieve the amenity types (accessible restrooms, fire pit, picnic area, etc.) available in national parks."
    },
    {
      "name": "amenities/parksplaces",
      "description": "Retrieve \"places\" within national parks that have different amenities. (For more about \"place\" assets, see below.)"
    },
    {
      "name": "amenities/parksvisitorcenters",
      "description": "Retrieve visitor centers within national parks that have different amenities."
    },
    {
      "name": "articles",
      "description": "Retrieve articles created by national parks and other NPS entities. (See \"people\" and \"places\" below for other specific article types.)"
    },
    {
      "name": "campgrounds",
      "description": "Retrieve data about National Park Service campgrounds including addresses, contacts, description, hours of operation, etc."
    },
    {
      "name": "events",
      "description": "Retrieve events created by national parks and other NPS entities."
    },
    {
      "name": "feespasses",
      "description": "Retrieve fees and passes information created by national parks and other NPS entities."
    },
    {
      "name": "lessonplans",
      "description": "Retrieve lesson plans created by national parks and other NPS entities."
    },
    {
      "name": "mapdata/parkboundaries",
      "description": "Retrieve geometry boundaries for park specified by a site code. (e.g. abli)"
    },
    {
      "name": "multimedia/audio",
      "description": "Retrieve metadata relating to audio files created by national parks."
    },
    {
      "name": "multimedia/galleries",
      "description": "Retrieve galleries created by national parks and other NPS entities."
    },
    {
      "name": "multimedia/galleries/assets",
      "description": "Retrieve gallery assets by unique asset id, or gallery id, etc."
    },
    {
      "name": "multimedia/videos",
      "description": "Retrieve metadata relating to videos created by national parks."
    },
    {
      "name": "newsreleases",
      "description": "Retrieve news releases created by national parks and other NPS entities."
    },
    {
      "name": "parkinglots",
      "description": "Retrieve information related to parking lots created by national parks and other NPS entities."
    },
    {
      "name": "parks",
      "description": "Retrieve data about national parks (addresses, contacts, description, hours of operation, etc.)."
    },
    {
      "name": "passportstamplocations",
      "description": "Retrieve locations (see \"campgrounds\", \"places\", and \"visitorcenters\") that have national park passport stamps."
    },
    {
      "name": "people",
      "description": "Retrieve articles providing a synopsis of specific people related to national parks."
    },
    {
      "name": "places",
      "description": "Retrieve articles providing a synopsis of specific places related to national parks."
    },
    {
      "name": "roadevents",
      "description": "Retrieve information relating to road events by park and/or type of event (incident or workzone)"
    },
    {
      "name": "thingstodo",
      "description": "Retrieve suggested things to do recommended by and for specific national parks."
    },
    {
      "name": "topics",
      "description": "Retrieve categories of topics (American revolution, music, women's history, etc.) relating to national parks."
    },
    {
      "name": "topics/parks",
      "description": "Retrieve national parks that are related to particular categories of topics (American revolution, music, women's history, etc.)."
    },
    {
      "name": "tours",
      "description": "Retrieve tours with stops at the special places, campgrounds, and visitor centers found within national parks."
    },
    {
      "name": "visitorcenters",
      "description": "Retrieve data about National Park Service visitor centers including addresses, contacts, description, hours of operation, etc."
    },
    {
      "name": "webcams",
      "description": "Retrieve metadata about National Park Service streaming and non-streaming web cams."
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/activities": {
      "get": {
        "tags": [
          "activities"
        ],
        "description": "",
        "operationId": "getActivities",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "One or more activity unique IDs.",
            "required": false,
            "type": "string"
          },
          {
            "name": "q",
            "in": "query",
            "description": "term to search on",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A comma delimited list of fields to sort the results by. Ascending order is assumed for each field unless the field name is prefixed with the unary negative which implies descending order.",
            "type": "string"
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
                "$ref": "#/definitions/Activity"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/activities/parks": {
      "get": {
        "tags": [
          "activities/parks"
        ],
        "description": "Returns activites parks information.",
        "operationId": "getActvitiesParks",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "A comma delimited list of activity IDs.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "A string to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A comma delimited list of fields to sort the results by. Ascending order is assumed for each field unless the field name is prefixed with the unary negative which implies descending order.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
                "$ref": "#/definitions/ActivityPark"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/alerts": {
      "get": {
        "tags": [
          "alerts"
        ],
        "description": "",
        "operationId": "getAlerts",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parkCode",
            "in": "query",
            "description": "A comma delimited list of park codes (each 4-10 characters in length).",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "stateCode",
            "in": "query",
            "description": "A comma delimited list of 2 character state codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Term to search on",
            "required": false,
            "type": "string"
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
                "$ref": "#/definitions/Alert"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/amenities": {
      "get": {
        "tags": [
          "amenities"
        ],
        "description": "",
        "operationId": "getAmenities",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "One or more topic unique IDs.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "A string to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
                "$ref": "#/definitions/Amenities"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/amenities/parksplaces": {
      "get": {
        "tags": [
          "amenities/parksplaces"
        ],
        "description": "",
        "operationId": "getAmenitiesParksplaces",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parkCode",
            "in": "query",
            "description": "A comma delimited list of 4 character park codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "id",
            "in": "query",
            "description": "A comma delimited list of amenity IDs.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "q",
            "in": "query",
            "description": "A string to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A comma delimited list of fields to sort the results by. Ascending order is assumed for each field unless the field name is prefixed with the unary negative       which implies descending order.",
            "required": false,
            "type": "string"
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
                "$ref": "#/definitions/AmenitiesParksPlaces"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/amenities/parksvisitorcenters": {
      "get": {
        "tags": [
          "amenities/parksvisitorcenters"
        ],
        "description": "",
        "operationId": "getAmenitiesParksvisitorcenters",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parkCode",
            "in": "query",
            "description": "A comma delimited list of 4 character park codes.",
            "required": false,
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "description": "A comma delimited list of amenity IDs.",
            "required": false,
            "type": "string"
          },
          {
            "name": "q",
            "in": "query",
            "description": "A string to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A comma delimited list of fields to sort the results by. Ascending order is assumed for each field unless the field name is prefixed with the unary negative which implies descending order.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
                "$ref": "#/definitions/AmenitiesParksVisitorCenters"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/articles": {
      "get": {
        "tags": [
          "articles"
        ],
        "description": "",
        "operationId": "getArticles",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parkCode",
            "in": "query",
            "description": "A comma delimited list of 4 character park codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "stateCode",
            "in": "query",
            "description": "A comma delimited list of 2 character state codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Term to search on",
            "required": false,
            "type": "string"
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
                "$ref": "#/definitions/Article"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/campgrounds": {
      "get": {
        "tags": [
          "campgrounds"
        ],
        "description": "",
        "operationId": "getCampgrounds",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parkCode",
            "in": "query",
            "description": "A comma delimited list of park codes (each 4 characters in length).",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "stateCode",
            "in": "query",
            "description": "A comma delimited list of 2 character state codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Term to search on",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A comma delimited list of resource properties to sort the results by. Ascending order is assumed for each property. If descending order is desired, the unary negative should prefix the property name. Invalid property values will be ignored. If no sort parameter is passed in a request, the default sort is by display order. If sorting by relevanceScore, you 1) will likely use -relevanceScore as a higher score indicates a more relevant result and 2) cannot use it in conjunction with other sort properties. Possible fields to sort by are name, parkCode, Title, and relevanceScore.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
                "$ref": "#/definitions/Campground"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/events": {
      "get": {
        "tags": [
          "events"
        ],
        "description": "",
        "operationId": "getEvents",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parkCode",
            "in": "query",
            "description": "A comma delimited list of park codes (each 4 characters in length).",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "organization",
            "in": "query",
            "description": "A comma delimited list of organization site codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "subject",
            "in": "query",
            "description": "A comma delimited list of subject site codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "portal",
            "in": "query",
            "description": "A comma delimited list of portal site codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "tagsAll",
            "in": "query",
            "description": "A comma delimited list of tags that must be included.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "tagsOne",
            "in": "query",
            "description": "A comma delimited list of tags that may be included.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "tagsNone",
            "in": "query",
            "description": "A comma delimited list of tags that must not be included.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "stateCode",
            "in": "query",
            "description": "A comma delimited list of 2 character state codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "dateStart",
            "in": "query",
            "description": "A stating date in the yyyy-mm-dd format to filter events by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "dateEnd",
            "in": "query",
            "description": "An ending date in the yyyy-mm-dd format to filter events by.",
            "type": "string",
            "required": false
          },
          {
            "name": "eventType",
            "in": "query",
            "description": "A comma delimited list of event types.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "id",
            "in": "query",
            "description": "A unique ID string for an event.",
            "required": false,
            "type": "string"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Term to search on.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of results per page. Default is 10.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The current page number for the results. Default is 1.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "expandRecurring",
            "in": "query",
            "description": "A flag to denote whether or not to expand the recurring events out into multiple records (one per event date). Default is false.",
            "required": false,
            "type": "boolean"
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
                "$ref": "#/definitions/Event"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/feespasses": {
      "get": {
        "tags": [
          "feespasses"
        ],
        "description": "",
        "operationId": "getFeesPasses",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parkCode",
            "in": "query",
            "description": "A comma delimited list of park codes (each 4 characters in length).",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Term to search on",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A comma delimited list of resource properties to sort the results by. Each resource identifies which properties are 'sortable'. Ascending order is assumed for each property. If descending order is desired, the unary negative should prefix the property name. The sortable properties are listed in the documentation for each resource. Invalid property values will be ignored. Default is title.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "statecode",
            "in": "query",
            "description": "A comma delimited list of 2 character state codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
                "$ref": "#/definitions/FeesPasses"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/lessonplans": {
      "get": {
        "tags": [
          "lessonplans"
        ],
        "description": "",
        "operationId": "getLessonPlans",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parkCode",
            "in": "query",
            "description": "A comma delimited list of park codes (each 4 characters in length).",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "stateCode",
            "in": "query",
            "description": "A comma delimited list of 2 character state codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Term to search on",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A comma delimited list of resource properties to sort the results by. Each resource identifies which properties are 'sortable'. Ascending order is assumed for each property. If descending order is desired, the unary negative should prefix the property name. The sortable properties are listed in the documentation for each resource. Invalid property values will be ignored. Default is title.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
                "$ref": "#/definitions/LessonPlan"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/mapdata/parkboundaries/{sitecode}": {
      "get": {
        "tags": [
          "mapdata/parkboundaries"
        ],
        "description": "",
        "operationId": "getMapdataParkboundaries",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sitecode",
            "in": "path",
            "description": "park site code (e.g. abli)",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
                "$ref": "#/definitions/MapdataParkboundary"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/multimedia/audio": {
      "get": {
        "tags": [
          "multimedia/audio"
        ],
        "description": "",
        "operationId": "getMultimediaAudio",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parkCode",
            "in": "query",
            "description": "A comma delimited list of park codes (each 4 characters in length).",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "stateCode",
            "in": "query",
            "description": "A comma delimited list of 2 character state codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Term to search on",
            "required": false,
            "type": "string"
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
                "$ref": "#/definitions/MultimediaAudio"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/multimedia/galleries": {
      "get": {
        "tags": [
          "multimedia/galleries"
        ],
        "description": "",
        "operationId": "getMultimediaGalleries",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parkCode",
            "in": "query",
            "description": "A comma delimited list of 4 character park codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "stateCode",
            "in": "query",
            "description": "A comma delimited list of 2 character state codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Term to search on",
            "required": false,
            "type": "string"
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
                "$ref": "#/definitions/MultimediaGalleries"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/multimedia/galleries/assets": {
      "get": {
        "tags": [
          "multimedia/galleries/assets"
        ],
        "description": "",
        "operationId": "getMultimediaGalleriesAssets",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The unique identifier of an asset within a gallery",
            "required": false,
            "type": "string"
          },
          {
            "name": "galleryId",
            "in": "query",
            "description": "The unique identifier for a gallery",
            "required": false,
            "type": "string"
          },
          {
            "name": "parkCode",
            "in": "query",
            "description": "A comma delimited list of 4 character park codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "stateCode",
            "in": "query",
            "description": "A comma delimited list of 2 character state codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Term to search on",
            "required": false,
            "type": "string"
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
                "$ref": "#/definitions/MultimediaGalleriesAssets"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/multimedia/videos": {
      "get": {
        "tags": [
          "multimedia/videos"
        ],
        "description": "",
        "operationId": "getMultimediaVideo",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parkCode",
            "in": "query",
            "description": "A comma delimited list of park codes (each 4 characters in length).",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "stateCode",
            "in": "query",
            "description": "A comma delimited list of 2 character state codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Term to search on",
            "required": false,
            "type": "string"
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
                "$ref": "#/definitions/MultimediaVideos"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/newsreleases": {
      "get": {
        "tags": [
          "newsreleases"
        ],
        "description": "",
        "operationId": "getNewsReleases",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parkCode",
            "in": "query",
            "description": "A comma delimited list of park codes (each 4 characters in length).",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "stateCode",
            "in": "query",
            "description": "A comma delimited list of 2 character state codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Term to search on",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A comma delimited list of resource properties to sort the results by. Each resource identifies which properties are 'sortable'. Ascending order is assumed for each property. If descending order is desired, the unary negative should prefix the property name. The sortable properties are listed in the documentation for each resource. Invalid property values will be ignored. Default is -releaseDate.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
                "$ref": "#/definitions/NewsRelease"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/parkinglots": {
      "get": {
        "tags": [
          "parkinglots"
        ],
        "description": "",
        "operationId": "getParkinglots",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parkCode",
            "in": "query",
            "description": "A comma delimited list of park codes (each 4 characters in length).",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "stateCode",
            "in": "query",
            "description": "A comma delimited list of 2 character state codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "q",
            "in": "query",
            "description": "term to search on",
            "required": false,
            "type": "string"
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
                "$ref": "#/definitions/Parkinglot"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/parks": {
      "get": {
        "tags": [
          "parks"
        ],
        "description": "",
        "operationId": "getPark",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parkCode",
            "in": "query",
            "description": "A comma delimited list of park codes (each 4-10 characters in length).",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "stateCode",
            "in": "query",
            "description": "A comma delimited list of 2 character state codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Term to search on",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A comma delimited list of resource properties to sort the results by. Ascending order is assumed for each property. If descending order is desired, the unary negative should prefix the property name. Invalid property values will be ignored. If no sort parameter is passed in a request, the default sort is by fullName. If sorting by relevanceScore, you 1) will likely use -relevanceScore as a higher score indicates a more relevant result and 2) cannot use it in conjunction with other sort properties. Possible fields to sort by are fullName, parkCode, and relevanceScore.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Park"
              }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/passportstamplocations": {
      "get": {
        "tags": [
          "passportstamplocations"
        ],
        "description": "",
        "operationId": "getPassportstamplocations",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parkCode",
            "in": "query",
            "description": "A comma delimited list of 4 character park codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "stateCode",
            "in": "query",
            "description": "A comma delimited list of 2 character state codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "q",
            "in": "query",
            "description": "A string to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
                "$ref": "#/definitions/Passportstamplocations"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/people": {
      "get": {
        "tags": [
          "people"
        ],
        "description": "",
        "operationId": "getPeople",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parkCode",
            "in": "query",
            "description": "A comma delimited list of park codes (each 4-10 characters in length).",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "stateCode",
            "in": "query",
            "description": "A comma delimited list of 2 character state codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Term to search on",
            "required": false,
            "type": "string"
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
                "$ref": "#/definitions/Person"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/places": {
      "get": {
        "tags": [
          "places"
        ],
        "description": "",
        "operationId": "getPlaces",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parkCode",
            "in": "query",
            "description": "A comma delimited list of park codes (each 4 characters in length).",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "stateCode",
            "in": "query",
            "description": "A comma delimited list of 2 character state codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Term to search on",
            "required": false,
            "type": "string"
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
                "$ref": "#/definitions/Place"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/roadevents": {
      "get": {
        "tags": [
          "roadevents"
        ],
        "description": "",
        "operationId": "getRoadevents",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parkCode",
            "in": "query",
            "description": "A comma delimited list of 4 character park codes.",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "either 'incident' or 'workzone'",
            "required": false,
            "type": "string"
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
                "$ref": "#/definitions/RoadEvents"
            }
          },
          "400": {
            "description": "Invalid status data"
          }
        }
      }
    },
    "/thingstodo": {
      "get": {
        "tags": [
          "thingstodo"
        ],
        "description": "",
        "operationId": "getThingstodo",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "A comma delimited list of things to do IDs.",
            "required": false,
            "type": "string"
          },
          {
            "name": "parkCode",
            "in": "query",
            "description": "A comma delimited list of 4 character park codes.",
            "required": false,
            "type": "string"
          },
          {
            "name": "stateCode",
            "in": "query",
            "description": "A comma delimited list of 2 character state codes.",
            "required": false,
            "type": "string"
          },
          {
            "name": "q",
            "in": "query",
            "description": "A string to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A comma delimited list of resource properties to sort the results by. Ascending order is assumed for each property. If descending order is desired, the unary negative should prefix the property name. Invalid property values will be ignored. If no sort parameter is passed in a request, the default sort is by descending order of date last modified. (Note that the date last modified is an unexposed property.) If sorting by relevanceScore, you will likely use -relevanceScore as a higher score indicates a more accurate result. The only sort option, besides the default, is relevanceScore.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
                "$ref": "#/definitions/ThingsToDo"
            }
          },
          "400": {
            "description": "Invalid status data"
          }
        }
      }
    },
    "/topics": {
      "get": {
        "tags": [
          "topics"
        ],
        "description": "",
        "operationId": "getTopics",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "One or more unique topic IDs.",
            "required": false,
            "type": "string"
          },
          {
            "name": "q",
            "in": "query",
            "description": "A string to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A comma delimited list of fields to sort the results by. Ascending order is assumed for each field unless the field name is prefixed with the unary negative which implies descending order.",
            "required": false,
            "type": "string"
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
                "$ref": "#/definitions/Topic"
            }
          },
          "400": {
            "description": "Invalid status data"
          }
        }
      }
    },
    "/topics/parks": {
      "get": {
        "tags": [
          "topics/parks"
        ],
        "description": "",
        "operationId": "getTopicsParks",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "A comma delimited list of topic IDs.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "q",
            "in": "query",
            "description": "A string to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A comma delimited list of fields to sort the results by. Ascending order is assumed for each field unless the field name is prefixed with the unary negative which implies descending order.",
            "type": "string"
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
                "$ref": "#/definitions/TopicPark"
            }
          },
          "400": {
            "description": "Invalid status data"
          }
        }
      }
    },
    "/tours": {
      "get": {
        "tags": [
          "tours"
        ],
        "description": "",
        "operationId": "getTours",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "A comma delimited list of tour IDs.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "parkCode",
            "in": "query",
            "description": "A comma delimited list of 4 character park codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "stateCode",
            "in": "query",
            "description": "A comma delimited list of 2 character state codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "q",
            "in": "query",
            "description": "A string to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A comma delimited list of resource properties to sort the results by. Ascending order is assumed for each property. If descending order is desired, the unary negative should prefix the property name. Invalid property values will be ignored. If no sort parameter is passed in a request, the default sort is by display order. If sorting by relevanceScore, you 1) will likely use -relevanceScore as a higher score indicates a more relevant result and 2) cannot use it in conjunction with other sort properties. Possible fields to sort by are name, parkCode, Title, and relevanceScore.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
                "$ref": "#/definitions/Tours"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/visitorcenters": {
      "get": {
        "tags": [
          "visitorcenters"
        ],
        "description": "",
        "operationId": "getVisitorCenters",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parkCode",
            "in": "query",
            "description": "A comma delimited list of park codes (each 4 characters in length).",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "stateCode",
            "in": "query",
            "description": "A comma delimited list of 2 character state codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Term to search on",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A comma delimited list of resource properties to sort the results by. Ascending order is assumed for each property. If descending order is desired, the unary negative should prefix the property name. Invalid property values will be ignored. If no sort parameter is passed in a request, the default sort is by display order. If sorting by relevanceScore, you 1) will likely use -relevanceScore as a higher score indicates a more relevant result and 2) cannot use it in conjunction with other sort properties. Possible fields to sort by are name, parkCode, Title,and relevanceScore.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
                "$ref": "#/definitions/VisitorCenter"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/webcams": {
      "get": {
        "tags": [
          "webcams"
        ],
        "description": "",
        "operationId": "getWebcams",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parkCode",
            "in": "query",
            "description": "A comma delimited list of 4 character park codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "stateCode",
            "in": "query",
            "description": "A comma delimited list of 2 character state codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "id",
            "in": "query",
            "description": "A comma delimited list of webcam IDs.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Term to search on.",
            "required": false,
            "type": "string"
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
                "$ref": "#/definitions/Webcams"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "api_key",
      "in": "query"
    }
  },
  "definitions": {
    "Activity": {
      "type": "object",
      "properties": {
        "total": {
          "type": "string",
          "example": "2"
        },
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "Unique identifier for an activity record",
                "example": "FEDA3DF8-B871-4C1A-BB96-32823860B174"
              },
              "name": {
                "type": "string",
                "description": "Name of the activity",
                "example": "Arts and Culture"
              }
            },
            "example": [
              {
                "id": "FEDA3DF8-B871-4C1A-BB96-32823860B174",
                "name": "Arts and Culture"
              },
              {
                "id": "F07B0BA0-A3E9-4C82-9746-57DA4953C2E6",
                "name": "Astronomy"
              }
            ]
          }
        },
        "limit": {
          "type": "string",
          "example": "50"
        },
        "start": {
          "type": "string",
          "example": "0"
        }
      }
    },
    "ActivityPark": {
      "type": "object",
      "properties": {
        "total": {
          "type": "string",
          "example": "2"
        },
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "Unique identifier for activity park record.",
                "example": "FEDA3DF8-B871-4C1A-BB96-32823860B174"
              },
              "name": {
                "type": "string",
                "description": "Name for activity park record.",
                "example": "Arts and Culture"
              },
              "parks": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "states": {
                      "type": "string",
                      "description": "A comma delimited list of two letter state codes",
                      "example": "KY"
                    },
                    "fullName": {
                      "type": "string",
                      "description": "full name of a park",
                      "example": "Abraham Lincoln Birthplace National Historical Park"
                    },
                    "url": {
                      "type": "string",
                      "example": "https://www.nps.gov/abli/index.htm"
                    },
                    "parkCode": {
                      "type": "string",
                      "description": "Four letter alpha code for this park",
                      "example": "abli"
                    },
                    "designation": {
                      "type": "string",
                      "example": "National Historical Park"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the park",
                      "example": "Abraham Lincoln Birthplace"
                    }
                  }
                }
              }
            }
          }
        },
        "limit": {
          "type": "string",
          "example": "50"
        },
        "start": {
          "type": "string",
          "example": "0"
        }
      }
    },
    "Alert": {
      "type": "object",
      "properties": {
        "total": {
          "type": "string",
          "example": "474"
        },
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "category": {
                "type": "string",
                "description": "Alert type: Danger, Caution, Information, or Park Closure",
                "enum": [
                  "Danger",
                  "Caution",
                  "Information",
                  "Park Closure"
                ]
              },
              "description": {
                "type": "string",
                "description": "Alert description"
              },
              "id": {
                "type": "string",
                "description": "Unique identifier for an alert record"
              },
              "parkCode": {
                "type": "string",
                "description": "A variable width character code that uniquely identifies a specific park"
              },
              "title": {
                "type": "string",
                "description": "Alert title"
              },
              "url": {
                "type": "string",
                "description": "Link to more information about the alert, if available"
              },
              "lastIndexedDate": {
                "type": "string",
                "description": "date/time stamp of when this alert was last indexed"
              },
              "relatedRoadEvents": {
                "type": "array",
                "description": "more information about a road event related to this alert (if any)",
                "items": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "description": "title of this related road event"
                    },
                    "id": {
                      "type": "string",
                      "description": "UUID for this related road event"
                    },
                    "type": {
                      "type": "string",
                      "description": "what type of related road event is this"
                    },
                    "url": {
                      "type": "string",
                      "description": "URL for more information about this related road event"
                    }
                  }
                }
              }
            },
            "example": [
              {
                "category": "Information",
                "description": "Some destinations are unavailable because of construction related to the Canyon Overlooks and Trails Restoration Project.",
                "id": "4C3095E2-1DD8-B71B-0BAC8E16AABF3113",
                "parkCode": "yell",
                "title": "Area Closures in Canyon",
                "url": "https://www.nps.gov/yell/planyourvisit/canyonprojects.htm",
                "lastIndexedDate": "2023-06-27 14:10:21.0",
                "relatedRoadEvents": []
              },
              {
                "category": "Caution",
                "description": "The road between Roaring Mountain and Willow Park is under construction. Expect delays up to 30 minutes and night closures June 11–September 10 from 10pm–7am (excluding Saturday nights).",
                "id": "696FC8C9-1DD8-B71B-0BF3D47A2BF92890",
                "parkCode": "yell",
                "title": "Construction & Nightly Closures between Norris & Mammoth Hot Springs",
                "url": "https://www.nps.gov/yell/planyourvisit/parkroads.htm",
                "lastIndexedDate": "2023-06-27 14:10:21.0",
                "relatedRoadEvents": [
                  {
                    "title": "Crazy Squirrels",
                    "id": "68BC589E-7FFC-4AFC-AD02-85E123C4C145",
                    "type": "roadevent",
                    "url": "https://www.nps.gov/yose/planyourvisit/conditions.htm"
                  }
                ]
              }
            ]
          }
        },
        "limit": {
          "type": "string",
          "example": "50"
        },
        "start": {
          "type": "string",
          "example": "0"
        }
      }
    },
    "Amenities": {
      "type": "object",
      "properties": {
        "total": {
          "type": "string",
          "example": "121"
        },
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "Unique identifier for this amenity",
                "example": "75F2DA2A-1741-445A-9FA7-B63A81E4BD7F"
              },
              "name": {
                "type": "string",
                "description": "This amenity's name",
                "example": "Accessibility - Accessible Restroom"
              },
              "categories": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "limit": {
          "type": "string",
          "example": "50"
        },
        "start": {
          "type": "string",
          "example": "0"
        }
      }
    },
    "AmenitiesParksPlaces": {
      "type": "object",
      "properties": {
        "total": {
          "type": "string",
          "example": "53"
        },
        "data": {
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique identifier for this amenity",
                  "example": "75F2DA2A-1741-445A-9FA7-B63A81E4BD7F"
                },
                "name": {
                  "type": "string",
                  "description": "Name of the amenity",
                  "example": "Accessibility - Accessible Restroom"
                },
                "parks": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "states": {
                        "type": "string",
                        "description": "one or more comma separated state codes",
                        "example": "NC,VA"
                      },
                      "parkCode": {
                        "type": "string",
                        "description": "four letter parkCode",
                        "example": "blri"
                      },
                      "designation": {
                        "type": "string",
                        "description": "",
                        "example": "Parkway"
                      },
                      "fullName": {
                        "type": "string",
                        "description": "",
                        "example": "Blue Ridge Parkway"
                      },
                      "places": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "title": {
                              "type": "string",
                              "description": "",
                              "example": "Mabry Mill"
                            },
                            "url": {
                              "type": "string",
                              "description": "",
                              "example": "https://www.nps.gov/places/mabry-mill.htm"
                            },
                            "id": {
                              "type": "string",
                              "description": "",
                              "example": "E4267D0C-EE18-4020-88DC-40B5EBAC32E3"
                            }
                          }
                        }
                      },
                      "url": {
                        "type": "string",
                        "description": "",
                        "example": "https://www.nps.gov/blri/index.htm"
                      },
                      "name": {
                        "type": "string",
                        "description": "",
                        "example": "Blue Ridge"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "limit": {
          "type": "string",
          "example": "50"
        },
        "start": {
          "type": "string",
          "example": "0"
        }
      }
    },
    "AmenitiesParksVisitorCenters": {
      "type": "object",
      "properties": {
        "total": {
          "type": "string",
          "example": "53"
        },
        "data": {
          "type": "array",
          "items": {
            "type":"array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique identifier for this amenity",
                  "example": "75F2DA2A-1741-445A-9FA7-B63A81E4BD7F"
                },
                "name": {
                  "type": "string",
                  "description": "The name for this amenity",
                  "example": "Accessibility - Accessible Restroom"
                },
                "parks": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "states": {
                        "type": "string",
                        "description": "two letter state code",
                        "example": "SD"
                      },
                      "parkCode": {
                        "type": "string",
                        "description": "four letter park code",
                        "example": "moru"
                      },
                      "designation": {
                        "type": "string",
                        "description": "",
                        "example": "National Memorial"
                      },
                      "visitorcenters": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string",
                              "description": "URL for the Visitor Center",
                              "example": "https://www.nps.gov/moru/planyourvisit/placestogo.htm"
                            },
                            "id": {
                              "type": "string",
                              "description": "Unique identifier for the Visitor Center",
                              "example": "AB856735-B829-4053-8BB2-9A27BC193084"
                            },
                            "name": {
                              "type": "string",
                              "description": "Name of the Visitor Center",
                              "example": "Lincoln Borglum Visitor Center"
                            }
                          }
                        }
                      },
                      "fullName": {
                        "type": "string",
                        "description": "",
                        "example": ""
                      },
                      "url": {
                        "type": "string",
                        "description": "",
                        "example": "https://www.nps.gov/moru/index.htm"
                      },
                      "name": {
                        "type": "string",
                        "description": "",
                        "example": "Mount Rushmore"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "limit": {
          "type": "string",
          "example": "50"
        },
        "start": {
          "type": "string",
          "example": "0"
        }
      }
    },
    "Article": {
      "type": "object",
      "properties": {
        "total": {
          "type": "string",
          "example": "7934"
        },
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "description": "Link to article"
              },
              "geometryPoiId": {
                "type": "string",
                "description": "Id for Geometry Point of Interest",
                "example": "8793be28-0d54-493f-8556-877e7ecbe937"
              },
              "title": {
                "type": "string",
                "description": "Article title"
              },
              "id": {
                "type": "string",
                "description": "Unique identifier for this article"
              },
              "listingDescription": {
                "type": "string",
                "description": "Short description of the content"
              },
              "listingImage": {
                "type": "object",
                "description": "Small image that accompanies the short description",
                "properties": {
                  "credit": {
                    "type": "string"
                  },
                  "altText": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "caption": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string"
                  }
                }
              },
              "relatedParks": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "states": {
                      "type": "string"
                    },
                    "parkCode": {
                      "type": "string"
                    },
                    "designation": {
                      "type": "string"
                    },
                    "fullName": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                },
                "description": "Parks that have a tie to this asset in a comma-delimited list"
              },
              "latLong": {
                "type": "string",
                "description": "geolocation coordinates"
              },
              "latitude": {
                "type": "number",
                "x-nullable": true
              },
              "longitude": {
                "type": "number",
                "x-nullable": true
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "credit": {
                "type": "string"
              }
            },
            "example": {
              "url": "https://www.nps.gov/articles/lafayette-square-preservation.htm",
              "title": "The “First Neighborhood”: Presidents and Preservation in Lafayette Park",
              "id": "FB939FC8-04B4-42F7-BC97-5557890D33F8",
              "geometryPoiId": "8793be28-0d54-493f-8556-877e7ecbe937",
              "listingDescription": "Presidents from Franklin D. Roosevelt to Lyndon B. Johnson, as well as two first ladies, were instrumental in preserving the 19th century historic character of Lafayette Square. Their advocacy influenced not only the White House's closest national historic district, but the development of national historic preservation law.",
              "listingImage": {
                "url": "https://www.nps.gov/common/uploads/articles/images/nri/20170118/articles/F6AD3834-1DD8-B71B-0BA8516D0F8C4D85/F6AD3834-1DD8-B71B-0BA8516D0F8C4D85.jpg",
                "credit": "",
                "altText": "Historic town homes in front of modern brick building",
                "title": "",
                "description": "",
                "caption": ""
              },
              "relatedParks": [
                {
                  "states": "DC",
                  "parkCode": "whho",
                  "designation": "",
                  "fullName": "President's Park (White House)",
                  "url": "https://www.nps.gov/whho",
                  "name": "President's Park (White House)"
                }
              ],
              "latitude": 38.8994750976563,
              "longitude": -77.0365524291992,
              "latLong": "{lat:38.89947509765625, long:-77.03655242919922}"
            }
          }
        },
        "limit": {
          "type": "string",
          "example": "1"
        },
        "start": {
          "type": "string",
          "example": "0"
        }
      }
    },
    "Campground": {
      "type": "object",
      "properties": {
        "total": {
          "type": "string",
          "example": "665"
        },
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "Campground identification string",
                "example": "C4CB1781-C59F-4065-AFE3-F7A327B075A2"
              },
              "url": {
                "type": "string",
                "description": "Link to more information about the campground",
                "example": "https://www.nps.gov/pais/planyourvisit/bird-island-basin-campground.htm"
              },
              "name": {
                "type": "string",
                "description": "Campground name",
                "example": "Bird Island Basin Campground"
              },
              "parkCode": {
                "type": "string",
                "description": "A variable width character code used to identify a specific park",
                "example": "pais"
              },
              "description": {
                "type": "string",
                "description": "General description of the campground",
                "example": "Bird Island Basin lies along Laguna Madre with easy access for fishing, birding, windsurfing, and kayaking."
              },
              "latitude": {
                "type": "string",
                "example": "27.466794"
              },
              "longitude": {
                "type": "string",
                "example": "-97.313693"
              },
              "latLong": {
                "type": "string",
                "description": "Campground GPS coordinates",
                "example": "{lat:27.466794, lng:-97.313693}"
              },
              "audioDescription": {
                "type": "string",
                "description": "Audio description of the campground",
                "example": "Turn right from the main park road at the Bird Island Basin sign."
              },
              "isPassportStampLocation": {
                "type": "string",
                "description": "Indicates whether this campground is a passport stamp location",
                "example": "0"
              },
              "passportStampLocationDescription": {
                "type": "string",
                "description": "Information about the nearest passport stamp location",
                "example": "Visit Hole-in-the-Wall Information Center for nearest Passport Stamp."
              },
              "passportStampImages": {
                "type": "array",
                "description": "Images associated with the passport stamp location",
                "items": {
                  "type": "object"
                },
                "example": []
              },
              "geometryPoiId": {
                "type": "string",
                "description": "Id for Geometry Point of Interest",
                "example": "958187A4-DF58-4561-9043-364EC62231DA"
              },
              "reservationInfo": {
                "type": "string",
                "description": "General information about the reservation process, if applicable",
                "example": "Reservations are required."
              },
              "reservationUrl": {
                "type": "string",
                "description": "Link to website where reservations can be made",
                "example": "https://www.recreation.gov/camping/campgrounds/10332661"
              },
              "regulationsurl": {
                "type": "string",
                "description": "Link to additional information about campground regulations, if available",
                "example": "http://www.nps.gov/moja/learn/management/lawsandpolicies.htm"
              },
              "regulationsOverview": {
                "type": "string",
                "description": "Information about campground regulations",
                "example": "Groups of 25 or more people and/or 7 or more vehicles are required to obtain a special use permit."
              },
              "amenities": {
                "type": "object",
                "description": "Detailed information about amenities available in the campground",
                "properties": {
                  "trashRecyclingCollection": {
                    "type": "string",
                    "example": "Yes - year round"
                  },
                  "toilets": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "Vault Toilets - year round"
                    ]
                  },
                  "internetConnectivity": {
                    "type": "string",
                    "example": "No"
                  },
                  "showers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "None"
                    ]
                  },
                  "cellPhoneReception": {
                    "type": "string",
                    "example": "No"
                  },
                  "laundry": {
                    "type": "string",
                    "example": "No"
                  },
                  "amphitheater": {
                    "type": "string",
                    "example": "No"
                  },
                  "dumpStation": {
                    "type": "string",
                    "example": "No"
                  },
                  "campStore": {
                    "type": "string",
                    "example": "No"
                  },
                  "staffOrVolunteerHostOnsite": {
                    "type": "string",
                    "example": "Yes - seasonal"
                  },
                  "potableWater": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "No water"
                    ]
                  },
                  "iceAvailableForSale": {
                    "type": "string",
                    "example": "No"
                  },
                  "firewoodForSale": {
                    "type": "string",
                    "example": "No"
                  },
                  "foodStorageLockers": {
                    "type": "string",
                    "example": "No"
                  }
                }
              },
              "contacts": {
                "type": "object",
                "description": "Information about contacting the park regarding this campground",
                "properties": {
                  "phoneNumbers": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "phoneNumber": {
                          "type": "string",
                          "example": "3619498068"
                        },
                        "description": {
                          "type": "string",
                          "example": ""
                        },
                        "extension": {
                          "type": "string",
[...]
